div.nav{
    border-radius: 100px;
    border: 10px solid rgb(189, 66, 53);
    background-color: antiquewhite;
    padding: 40px;
    margin: 10px;
    display: inline-block;
    max-width: 200px;
}
div.container{
    background-color: antiquewhite;
    padding: 40px;
    margin: 10px;
    display: inline-flex;
    border-radius: 100px;
    border: 10px solid rgb(189, 66, 53);



}

div.containermain{
    border-radius: 100px;
    border: 10px solid rgb(189, 66, 53);
    background-color: rgb(220, 185, 151);
    padding: 40px;
    margin: 10px;
    display: inline-flex;

}

ul{
    padding: 40px;
    margin: 10px;
}

div.innerbox{
    padding: 40px;
    margin: 10px;
    background-color: rgb(255, 251, 240);
    flex: 1;
    max-height: 500px;
    border-radius: 100px;
    border: 10px solid rgb(189, 66, 53);
}

img{
    margin: 10px;
    border-radius: 150px;
    border: 10px solid rgb(189, 66, 53);
}

}

header{
    background-color: rgb(255, 248, 239);
    text-align: center;
    padding: 40px;
    border-radius: 50px;
    border: 5px solid rgb(189, 66, 53);
    margin: 30px;
    max-height: 300px;
    padding:30px;
}

p{
    padding: 40px;
    margin: 10px;

}

div.header{
    display: inline-flex;

}

div.bottom{
    padding: 40px;
    margin: 10px;
    background-color: rgb(255, 251, 240);
    flex: 1;
    max-height: 500px;
    border-radius: 150px;
    border: 10px solid rgb(189, 66, 53);
}